# Dependency directories
/node_modules

# Next.js build directory
/.next

# Compiled output
/dist
/.cache
/build
/out

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
/.idea
/.vscode

# OS-specific files
.DS_Store
Thumbs.db
